html {
	background-image: linear-gradient(to left, white 0%, 100%);
}
body {
	font-size: 100%;
	width: 95%;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	border: 1px solid blue;
	border-radius: 25px;
	box-shadow: 5px 5px 0 0;
}
nav{
	padding-bottom: 1em;
	border-bottom: 2px solid darkblue;
}
.nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 1em;
    padding-top: 1em;
  }
  
  .nav_menu ul li {
    display: inline-block;
    padding: 1em;
    background-color: rgb(64, 119, 246);
    width: 8em;
    text-align: center;
    font-size: 0.8em;
  }
  
  .nav_menu ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav_menu ul li a.current {
    text-decoration: none;
  }

article {
	width: 75%;
	float: left;
	column-count: 3;
	column-rule: 2px dotted blue;
	column-gap: 2em;
	margin-left: 2em;
}

article img {
	max-width: 100%;
	display: block;
	float: left;
	padding: 0 1em 1em 0;
	width: 125px;
	height: 75px;
}

article p::first-letter {
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	color: darkblue;
}
article h1,
article h2 {
	color: darkblue;
}

aside {
	clear: both;
	width: 20%;
	position: fixed;
	top: 50px;
	right: 20px;
	padding: 0.1em 1em 1em;
	background-color: lightblue;
}
aside ol li {
	list-style: upper-roman;
}
aside ul li {
	list-style: square;
}

footer {
	clear: both;
	border-top: 2px solid darkblue;
}

#copyright {
	text-align: center;
	font-size: 80%;
}

p.fixed {
	width: auto;
	position: fixed;
	bottom: 35%;
	right: 0;
	border: 3px solid darkblue;
	background-color: lightskyblue;
	padding: 1.5em;
}
  